
*{
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-wrap: wrap;
    height:400px;
    width:800px;
    margin:0 auto;
}

.pane{
   
  width:350px;
  height:300px;
    border: 1px solid black;
}

.pane1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.gif{
    width:100%;
    height:100%;
    overflow: hidden;
}